#reportlist{
    .list-group{
        .list-group-item{
            span{
                font-size: .8em;
            }
        }
    }
    .active-report{
        .form-check-label{
            margin-right: 1.2rem !important;
            margin-top: 1rem;
        }
    }
    td{
        vertical-align: middle;
    }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
