#anamnesis {
    label{
        &.heading{
            font-weight: bold !important;
            margin-top: 2rem;
        }
        &.mr-5{
            margin-right: 1.5rem !important;
            margin-left: .4rem !important;
            padding-left: 30px;
        }
    }
    textarea{
        min-height: 5rem;
        max-height: 500px;
    }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
