.flyout {
	display:flex;
	flex-direction: column;
	min-height:100vh;
	justify-content: space-between;
}

// Navigation
.side-nav ul li ~ .nav-settings{
	width: 100%;
	bottom: 0;
	position: absolute;
}

// Custom colors
.unique-blue{
	background-color: $unique-blue !important;
	&.darken-1{
		background-color: darken($unique-blue, 5%) !important;
	}
	&.darken-2{
		background-color: darken($unique-blue, 10%) !important;
	}
	&.darken-3{
		background-color: darken($unique-blue, 15%) !important;
	}
	&.lighten-1{
		background-color: lighten($unique-blue, 10%) !important;
	}
	&.lighten-2{
		background-color: lighten($unique-blue, 20%) !important;
	}
	&.lighten-3{
		background-color: lighten($unique-blue, 30%) !important;
	}
}
.unique-darkblue{
	background-color: $unique-darkblue !important;
	&.darken-1{
		background-color: darken($unique-darkblue, 10%) !important;
	}
	&.darken-21{
		background-color: darken($unique-darkblue, 20%) !important;
	}
	&.darken-3{
		background-color: darken($unique-darkblue, 30%) !important;
	}
	&.lighten-1{
		background-color: lighten($unique-darkblue, 10%) !important;
	}
	&.lighten-2{
		background-color: lighten($unique-darkblue, 20%) !important;
	}
	&.lighten-3{
		background-color: lighten($unique-darkblue, 30%) !important;
	}
}

.unique-darkblue-text{
	color: $unique-darkblue !important;
}

.unique-blue-text{
	color: $unique-blue !important;
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
