@font-face {
    font-family: 'tstar_probold';
    src: url('fonts/tstar-pro-bold-webfont.woff2') format('woff2'),
        url('fonts/tstar-pro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tstar_proregular';
    src: url('fonts/tstar-pro-regular-webfont.woff2') format('woff2'),
        url('fonts/tstar-pro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tstar_proitalic';
    src: url('fonts/tstar-pro-italic-webfont.woff2') format('woff2'),
        url('fonts/tstar-pro-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
