$unique-blue:  #9dbdd6 !default;
$unique-lightblue: #eff4f8 !default;
$unique-grey: #545456 !default;
$unique-lightgrey: #f3f3f3 !default;
$unique-darkblue: #2a3c4a !default;

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
