#demo{
    #searchbox{
        background-color: lighten(#3f51b5, 10%) !important;
        border: none;
        outline: none;
        color: white;
        box-shadow: none;
        &::placeholder{
            color: lighten(#3f51b5, 30%);
        }
    }
    .navbar-expand-md .navbar-nav{
        flex-direction: row-reverse;
    }
    .flex-center ul li{
        margin-bottom: 0;
    }
    .card-actions{
        .btn{
            padding: 0.7em 1.2em 0.7em 1.2em;
        }
    }
    .classic-tabs .nav li:first-child{
        margin-left: 0px !important;
    }
    .classic-tabs .nav li a{
        text-transform: inherit;
    }
    .btn{
        box-shadow: none;
    }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
