#signup {
	li {
		margin-bottom: 0;
	}
	span {
		cursor: pointer;
	}

	// Logo
	img {
		max-height: 30px;
	}

	// Top background
	.edge-header {
		height: 400px;
		background-image: url("../../../assets/model.jpeg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	// Card
	.free-bird {
		margin-top: -250px;
  }
  // Label spacings
  label{
    margin-top: 1rem;
    margin-bottom: .2rem;
    color: #9e9e9e !important;
  }
}

/** 
* SPDX-License-Identifier: (EUPL-1.2)
* Copyright © 2019 Werbeagentur Christian Aichner
*/
